dlls/SAPI/2/SapiLayer1.Ecu_4.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
  <xs:element name="SapiFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CBFVersions" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CBF" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="ecu" form="unqualified" type="xs:string" />
                  <xs:attribute name="version" form="unqualified" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Ecu" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Properties" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Property" nillable="true" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Name" form="unqualified" type="xs:string" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EcuInfos" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EcuInfo" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="Name" form="unqualified" type="xs:string" />
                        <xs:attribute name="GroupQualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="GroupName" form="unqualified" type="xs:string" />
                        <xs:attribute name="HideComponents" form="unqualified" type="xs:string" />
                        <xs:attribute name="Description" form="unqualified" type="xs:string" />
                        <xs:attribute name="FormatString" form="unqualified" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EnvironmentDatas" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="EnvironmentData" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Reference" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="Name" form="unqualified" type="xs:string" />
                        <xs:attribute name="HideComponents" form="unqualified" type="xs:string" />
                        <xs:attribute name="Units" form="unqualified" type="xs:string" />
                        <xs:attribute name="FormatString" form="unqualified" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Instruments" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Instrument" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="CacheTime" form="unqualified" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ServicesAsInstruments" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ServiceAsInstrument" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReferenceInputValue" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Index" form="unqualified" type="xs:integer" />
                              <xs:attribute name="Value" form="unqualified" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" form="unqualified" type="xs:string" />
                        <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="ReferenceQualifier" form="unqualified" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ServicesAsVcpParameters" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ServiceAsVcpParameter" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ReferenceInputValue" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="Index" form="unqualified" type="xs:integer" />
                              <xs:attribute name="Value" form="unqualified" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Qualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="Name" form="unqualified" type="xs:string" />
                        <xs:attribute name="WriteReferenceQualifier" form="unqualified" type="xs:string" />
                        <xs:attribute name="WriteReferenceIndex" form="unqualified" type="xs:integer" />
                        <xs:attribute name="ReadReferenceQualifier" form="unqualified" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ComParameters" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ComParameter" nillable="true" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="Name" form="unqualified" type="xs:string" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" form="unqualified" type="xs:string" />
            <xs:attribute name="AutoConnect" form="unqualified" type="xs:boolean" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>  
      <xs:attribute name="Time" form="unqualified" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>