dlls/SAPI/1/Ecu_1.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
	<xs:element name="SapiFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ecu" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ComParameters" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ComParameter" nillable="true" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute name="Name" form="unqualified" type="xs:string" />
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Name" form="unqualified" type="xs:string" />
						<xs:attribute name="AutoConnect" form="unqualified" type="xs:boolean" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Time" form="unqualified" type="xs:string" />
		</xs:complexType>
	</xs:element>
</xs:schema>