dlls/SAPI/1/Manifest_1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified">
	<!-- SapiFile -->
	<xs:element name="SapiFile">
		<xs:complexType mixed="false">
			<xs:sequence>
				<xs:element maxOccurs="1" ref="Extensions">
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Time" form="unqualified" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- Extensions -->
	<xs:element name="Extensions">
		<xs:complexType mixed="false">
			<xs:sequence>
				<xs:element ref="Extension" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="SapiVersion" form="unqualified" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<!-- Extension -->
	<xs:element name="Extension">
		<xs:complexType mixed="false">
			<xs:attribute name="Name" form="unqualified" type="xs:string" use="required" />
			<xs:attribute name="Version" form="unqualified" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>

</xs:schema>